<div class="container">
    <div *ngIf="!isAddClicked">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Class</mat-label>
            <mat-select (selectionChange)="onClassChange($event.value)">
              <mat-option value="{{class.fullName}}" *ngFor="let class of classList" >{{class.fullName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <button class="mr-3 float-right buttonLink" mat-raised-button color="primary"
            (click)="isAddClicked= true">Add</button>
        </div>
      </div>
      <div class="row" *ngIf="gridDetail.gridData">
        <app-table [gridDetail]="gridDetail" class="col-12" (onSelectedRecordCallBack)="selectedRecordCallBack($event, $event)"></app-table>
      </div>
    </div>
  
    <div class="mat-elevation-z8 p-3" *ngIf="isAddClicked">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
          <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="fName">
                <mat-error>Please provide a this</mat-error>
              </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Middle Name</mat-label>
              <input matInput formControlName="mName">
              <mat-error>Please provide a this</mat-error>
            </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lName">
            <mat-error>Please provide a this</mat-error>
          </mat-form-field>
      </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Roll Number</mat-label>
              <input matInput type="number" formControlName="rollNumber">
              <mat-error>Please provide a this</mat-error>
            </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select  formControlName="gender" required>
              <mat-option value="M">M</mat-option>
              <mat-option value="F">F</mat-option>
            </mat-select>
            <mat-error>Please provide a Gender</mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Class</mat-label>
            <mat-select  [(value)]="studentDetailObj.classId" formControlName="classId" required>
              <mat-option [value]="class.id" *ngFor="let class of classList">{{class.fullName}}</mat-option>
            </mat-select>
            <mat-error>Please provide a Stream</mat-error>
          </mat-form-field>
        </div>

        </div>
        <mat-divider></mat-divider>
        <div class="row pt-3">
          <div class="col">
            <button class="mr-3 float-right buttonLink" mat-raised-button (click)="cancelForm()">Cancel</button>
            <button class="mr-3 float-right buttonLink" mat-raised-button type="submit" color="primary" >Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>